@import url('https://fonts.googleapis.com/css2?family=Flow+Circular&family=Grenze+Gotisch:wght@100;900&family=Redacted+Script:wght@300;400;700&family=Rubik+80s+Fade&family=Source+Code+Pro:ital,wght@0,500;0,600;1,500&family=WindSong&display=swap');

body {
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

* {
    box-shadow: inset 0 0 0 1px red;
    font-family: "Source Code Pro";
    margin: 0;
}

p {
    padding: 16px;
    background-color: lightblue;
}

p + p {
    margin-top: 16px;
}

.page-wrapper {
    width: 800px;
}